@{
    ViewBag.Title = "Test";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="alert alert-danger" data-bind="visible:model.gotError(),text:model.error()"></div>

<div class="panel panel-primary">
    <div class="panel-heading">Pet Controller Function</div>
    <div class="alert alert-info">For demo purpose I will show HTTP messages</div>

    <table class="table table-striped">
        <tr>
            <td>
                <button data-bind="click:getPets">Get Pet (Cat) by the owner's gender</button>
            </td>
        </tr>
    </table>

</div>