@{
    ViewBag.Title = "Home Page";
}

<div class="row">
<div class="alert alert-success">
    <span data-bind="text:modelData"></span>
</div>
    <button class="btn btn-primary" data-bind="click:sendRequest">
        Send Request
    </button>
    <button class="btn btn-primary" data-bind="click:filterByCat">
        Send Request
    </button>

</div>