@{
    ViewBag.Title = "Home Page";
}
@section scripts
{
<script src="~/Scripts/storeCustomerModel.js"></script>
    <script src="~/Scripts/storeCustomerController.js"></script>
}
<div id="categories" class="col-xs-3">
    <button class="btn btn-block btn-default btn-lg" data-bind="click:setCategory.bind(null)">Home</button>
    <div data-bind="foreach:customerModel.petCategories()">
        <button class="btn btn-block btn-default btn-lg" data-bind="click:setCategory.bind($data),text:$data,
    css:{'btn-primary':$data == customerModel.selectedCategory()}
    "></button>
    </div>


</div>
<div class="alert alert-danger col-sm-9"
     data-bind="visible: model.gotError(), text: model.error()">
</div>

<div data-bind="visible:customerModel.currentView()=='list'">
    @Html.Partial("PetList")
</div>

